## Manejo de Archivos Excel

para poder importar o exportar archivos excel primero es necesario descargar la libreria openpyxl

entonces:
- source .venv/bin/activate (activa el entorno virtual)
- pip install openpyxl

* Asegurate de estar en la carpeta donde creaste el entorno virtual para poder descargar la libreria y despues para trabajar con el archivo excel tambien asegurate que estes en la ruta adecauda

In [1]:
import pandas as pd

df=pd.DataFrame({
    'Nombre':['Ana','Carlos','Beatriz','Daniel'],
    'Edad':[23,35,29,40],
    'Salario':[50000.5,70000.6,65000.4,80000.0]
})

In [5]:
"""Guardar el DataFrame en un archivo excel y agregale un nombre a la hora de calculo"""

df.to_excel('mi_archivo.xlsx',sheet_name='Empleados',index=False)
df

    Nombre  Edad  Salario
0      Ana    23  50000.5
1   Carlos    35  70000.6
2  Beatriz    29  65000.4
3   Daniel    40  80000.0

In [8]:
"""Leer el archivo mi_archivo.xlsx"""

df_empleados=pd.read_excel('mi_archivo.xlsx')
df_empleados

    Nombre  Edad  Salario
0      Ana    23  50000.5
1   Carlos    35  70000.6
2  Beatriz    29  65000.4
3   Daniel    40  80000.0