## Funciones de Agregacion

utilizando el metodo groupby

In [2]:
#generacion de la base de datos

import pandas as pd

data={
    'Categoria':['A','B','A','B','A','B'],
    'Valor':[10,20,30,40,50,60],
    'Cantidad':[1,2,1,2,1,2]
}
df=pd.DataFrame(data)
df

  Categoria  Valor  Cantidad
0         A     10         1
1         B     20         2
2         A     30         1
3         B     40         2
4         A     50         1
5         B     60         2

In [4]:
"""groupby + suma"""
#calcula la suma de valores de un la categoria

cal_sum_categ=df.groupby('Categoria')['Valor'].sum()
cal_sum_categ

Categoria
A     90
B    120
Name: Valor, dtype: int64

In [5]:
"""Hallar la media por categoria"""

media_por_cat=df.groupby('Categoria')['Valor'].mean()
media_por_cat

Categoria
A    30.0
B    40.0
Name: Valor, dtype: float64

In [ ]:
count_cat=df.groupby('Categoria')['Valor'].count()
count_cat

#aca se ve que si se cumple la media

Categoria
A    3
B    3
Name: Valor, dtype: int64

## Multiples funciones de agregacion .agg()

In [7]:
"""hallar la suma, la media y cuenta los ingresos de cada categoria"""

agregados_categoria=df.groupby('Categoria')['Valor'].agg(['sum','mean','count'])
agregados_categoria

           sum  mean  count
Categoria
A           90  30.0      3
B          120  40.0      3

In [ ]:
"""Agregar nueva columna al DataFrame llamada grupo"""

data['Grupo']=['G1','G1','G2','G2','G1','G2']
df=pd.DataFrame(data)
df

  Categoria  Valor  Cantidad Grupo
0         A     10         1    G1
1         B     20         2    G1
2         A     30         1    G2
3         B     40         2    G2
4         A     50         1    G1
5         B     60         2    G2

In [10]:
"""Aumentar una columna calculada, agregar Total= valor*cantidad"""

df['Calculada']=df['Valor']*df['Cantidad']
df

  Categoria  Valor  Cantidad Grupo  Calculada
0         A     10         1    G1         10
1         B     20         2    G1         40
2         A     30         1    G2         30
3         B     40         2    G2         80
4         A     50         1    G1         50
5         B     60         2    G2        120

In [13]:
"""Agrupar por 'Grupo y 'Categoria' y sumar los valores"""

suma_grupo_categoria=df.groupby(['Grupo','Categoria'])['Valor'].sum()
suma_grupo_categoria

Grupo  Categoria
G1     A             60
       B             20
G2     A             30
       B            100
Name: Valor, dtype: int64

## Ejercicio practico para el analisis de tendencia

In [20]:
datos_ventas={
    'Fecha':['2024-10-01','2024-10-01','2024-10-02','2024-10-02','2024-10-03','2024-10-03'],
    'Producto':['Producto A','Producto B','Producto A','Producto B','Producto A','Producto B'],
    'Categoria':['Electronica','Ropa','Electronica','Ropa','Electronica','Ropa'],
    'Ventas':[100,150,200,100,300,250]
}
df_ventas=pd.DataFrame(datos_ventas)
df_ventas['Fecha']=pd.to_datetime(df_ventas['Fecha'],dayfirst=True)
df_ventas['Ventas']=pd.to_numeric(df_ventas['Ventas'],errors='coerce')
df_ventas

       Fecha    Producto    Categoria  Ventas
0 2024-01-10  Producto A  Electronica     100
1 2024-01-10  Producto B         Ropa     150
2 2024-02-10  Producto A  Electronica     200
3 2024-02-10  Producto B         Ropa     100
4 2024-03-10  Producto A  Electronica     300
5 2024-03-10  Producto B         Ropa     250

In [21]:
df_ventas.dtypes

Fecha        datetime64[ns]
Producto             object
Categoria            object
Ventas                int64
dtype: object

In [25]:
df_ventas.columns

Index(['Fecha', 'Producto', 'Categoria', 'Ventas'], dtype='object')

In [27]:
"""Sumar las ventas por categoria"""

suma_ventas=df_ventas.groupby('Categoria')['Ventas'].sum()
suma_ventas

Categoria
Electronica    600
Ropa           500
Name: Ventas, dtype: int64

In [28]:
"""Calcular que fecha tiene mayores ventas"""

fecha_ventas=df_ventas.groupby('Fecha')['Ventas'].sum()
fecha_ventas

Fecha
2024-01-10    250
2024-02-10    300
2024-03-10    550
Name: Ventas, dtype: int64

In [29]:
"""Analizar por fechas que productos son los que se vendieron mas"""

ventas_fecha_producto=df_ventas.groupby(['Fecha','Producto'])['Ventas'].sum()
ventas_fecha_producto

Fecha       Producto
2024-01-10  Producto A    100
            Producto B    150
2024-02-10  Producto A    200
            Producto B    100
2024-03-10  Producto A    300
            Producto B    250
Name: Ventas, dtype: int64