## Operaciones aritmeticas en series

In [2]:
"""SUMA"""

import pandas as pd

#si los indices de las series coinciden

serie1=pd.Series([10,20,30])
serie2=pd.Series([1,2,3])
serie1+serie2

0    11
1    22
2    33
dtype: int64

serie1 + serie2 crea una nueva Serie (resultado de la suma elemento a elemento).

Al guardarla en una variable (suma_series), tú decides persistir ese resultado en memoria para poder:

    .Imprimirlo (print(suma_series))

    .Usarlo en otro cálculo (suma_series.mean())

    .Pasarlo a otra función, guardarlo en un DataFrame, etc.

In [ ]:
suma_series=serie1+serie2
suma_series

#mismo resultado pero con una variable guardada en la memoria que se puede reutilizar

0    11
1    22
2    33
dtype: int64

In [4]:
"""resta de series"""

resta_series=serie1-serie2
resta_series

0     9
1    18
2    27
dtype: int64

In [5]:
"""multiplicacion de series"""

multiplicacion_series=serie1*serie2
multiplicacion_series

0    10
1    40
2    90
dtype: int64

In [6]:
"""division de series"""

division_series=serie1/serie2
division_series

0    10.0
1    10.0
2    10.0
dtype: float64

## Operaciones aridmeticas en DataFrame

In [ ]:
"""Crear los dataframe"""

#metodo 1
df_1=pd.DataFrame({
    'A':[1,2,3],
    'B':[4,5,6]
})
#metodo 2: tambien se puede crear asi
data={
    'A':[10,20,30],
    'B':[40,50,60]
}
df_2=pd.DataFrame(data)

#ambos metodos son los mismo

In [8]:
"""Suma"""

suma_df=df_1+df_2
suma_df

    A   B
0  11  44
1  22  55
2  33  66

In [9]:
"""Resta"""

resta_df=df_1-df_2
resta_df

    A   B
0  -9 -36
1 -18 -45
2 -27 -54

In [10]:
"""Multiplicacion"""

multiplicacion_df=df_1*df_2
multiplicacion_df

    A    B
0  10  160
1  40  250
2  90  360

In [11]:
"""Division"""

division_df=df_1/df_2
division_df

     A    B
0  0.1  0.1
1  0.1  0.1
2  0.1  0.1

## Operaciones con constantes (BroadCasting)

In [ ]:
"""Sumar una cosntante a la serie"""

valor_constante = 5
suma_constante=serie1+valor_constante
suma_constante

0    15
1    25
2    35
dtype: int64

In [13]:
"""sumar una constante a un DataFrame"""

valor_constante =2
suma_constante_df=df_1+df_2
suma_constante

0    15
1    25
2    35
dtype: int64

In [14]:
"""Multiplicacion de una constante de DataFrame"""

valor_constante=2
multiplicacion_constante_df=df_1*df_2
multiplicacion_constante_df

    A    B
0  10  160
1  40  250
2  90  360

## Metodos aritmeticos especificos

- add()
- sub() sustraer 
- mul()
- div()
- fill_value() es un parametro para rellenar valores faltantes

In [18]:
serie3=pd.Series([1,2,3], index=['a','b','c'])

serie4=pd.Series([10,20,30], index=['b','c','d'])
serie4

b    10
c    20
d    30
dtype: int64

In [20]:
"""suma de series con indices diferentes"""

suma_index_diferentes=serie3 + serie4
suma_index_diferentes

a     NaN
b    12.0
c    23.0
d     NaN
dtype: float64

In [24]:
"""usando fill_values"""

suma_relleno=serie3.add(serie4,fill_value=0)
suma_relleno

a     1.0
b    12.0
c    23.0
d    30.0
dtype: float64